h1{
    color:#0000ff
}
#latest{
    color: blueviolet;
}
.boc{
    text-align: justify;
    margin:10;
    color:red;
    font-size:0.75;

}
#hmadi{
    text-align: center;
    color: red;
    font-size: 0.75em;
}